<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarifação - Relatório de Saída</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
</head>
<body>
    <h1>Tarifação do Sistema de Transmissão</h1>
    <h2>Relatório de Saída</h2>
    <!-- Dados do Sistema -->
    <div class="conteudo">
        <h3>Dados do Sistema</h3>
    </div>
    <div class="conteudo">
        <h4>Dados das barras</h4>
        <div class="tabela">
            <div class="tabela-cabecalho tabela-linha">
                <div class="tabela-celula">Barra</div>
                <div class="tabela-celula">Capacidade Instalada (MW)</div>
                <div class="tabela-celula">Potência Gerada (MW)</div>
                <div class="tabela-celula">Potência Consumida (MW)</div>
            </div>
            {% for barra in barras %}
            <div class="tabela-linha">
                <div class="tabela-celula">{{ barra.numero }}</div>
                <div class="tabela-celula">{{ barra.capacidade_instalada }}</div>
                <div class="tabela-celula">{{ barra.potencia_gerada }}</div>
                <div class="tabela-celula">{{ barra.potencia_consumida }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="conteudo">
        <h4>Dados dos Circuitos</h4>
        <div class="tabela">
            <div class="tabela-cabecalho tabela-linha">
                <div class="tabela-celula">Circuito</div>
                <div class="tabela-celula">Barra de Origem</div>
                <div class="tabela-celula">Barra de Destino</div>
                <div class="tabela-celula">Capacidade (MW)</div>
                <div class="tabela-celula">Fluxo de Potência (MW)</div>
            </div>
            {% for circuito in circuitos %}
            <div class="tabela-linha">
                <div class="tabela-celula">{{ circuito.numero }}</div>
                <div class="tabela-celula">{{ circuito.origem.numero }}</div>
                <div class="tabela-celula">{{ circuito.destino.numero }}</div>
                <div class="tabela-celula">{{ circuito.capacidade }}</div>
                <div class="tabela-celula">{{ circuito.fluxo_potencia }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Tarifas Nodais -->
    Tarifas Nodais
    <!-- Zonal Homogêneo -->
    Zonal Homogêneo
    <!-- Zonal Heterogêneo -->
    Zonal Heterogêneo
</body>
</html>
